{% extends 'layout.html' %}
{% block body_content %}

    <div>
        <h3>{{ meal.meal_name }}</h3>
        <p><b> - Health Rating: </b>{{ meal.healthy }} <b> - Cooking Time: </b>{{ meal.cook_length }} mins</p>		
		<p><b> - Difficulty: </b>{{ meal.difficulty }} <b> - Is Vegan: </b>{{ meal.vegan }} </p>	
        <p> -- {{ meal.description }}</p>
        <!--if meal.ingredients dont know how to check if the meal has connections  -->
        <h4>Ingredients</h4>
        {% for ingredient in meal.ingredients %}
        <p><b>{{ ingredient.ingredient_name }}</b> <b> - Shelf Life:</b> {{ ingredient.shelf_life }} <b>- Vegan friendly:</b> {{ ingredient.vegan }}
            <a href="delete_ingredient/{{meal.id}},{{ingredient.id}}">Delete ingredient</a>
        </p>        
        {% endfor %}
    </div>
    <br>
    <div class='form'>
        <form action="POST" action=''>
            {{ add_ingredient_form.hidden_tag() }}
            <div class='form_group'>
                <h4>{{ add_ingredient_form.ingredient.label }}</h4>
                {{ add_ingredient_form.ingredient }}
                {% if add_ingredient_form.ingredient.errors %}
                <div class="error">
                    {% for error in add_ingredient_form.ingredient.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ add_ingredient_form.add_ingredient }}
            </div>
        </form>
    </div>
    <br>
    <div class='form'>
        <form method='POST' action=''>
            {{ ingredient_form.hidden_tag() }}
            <h4>Add your own ingredient</h4>
            <div class='form_group'>
                {{ ingredient_form.ingredient_name.label }}
                {{ ingredient_form.ingredient_name }}
                {% if ingredient_form.ingredient_name.errors %}
                    <div class='error'>
                        {% for error in ingredient_form.ingredient_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            {{ ingredient_form.shelf_life.label }}
                {{ ingredient_form.shelf_life }}
                {% if ingredient_form.shelf_life.errors %}
                    <div class='error'>
                        {% for error in ingredient_form.shelf_life.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            <br><br>
            {{ ingredient_form.vegan.label }}
            {{ ingredient_form.vegan }}
            <br><br>
            <div class='form_group'>
                {{ ingredient_form.submit_ingredient }}
            </div>
        </form>
    </div>

{% endblock %}
