{% extends "layout.html" %}
{% block body_content %}
    <h3>Edit {{ meal_form.meal_name.data }}</h3>
    <div class='form'>
        <form method='POST' action=''>
            {{ meal_form.hidden_tag() }}
            {{ meal_form.meal_name.label }}
            {{ meal_form.meal_name }}
	        {% if meal_form.meal_name.errors %}
            <div class="error">
                {% for error in meal_form.meal_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <br><br>
            {{ meal_form.healthy.label }}
            {{ meal_form.healthy }}
	        {% if meal_form.healthy.errors %}
            <div class="error">
                {% for error in meal_form.healthy.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <br><br>
            {{ meal_form.cook_length.label }}
            {{ meal_form.cook_length }}
	        {% if meal_form.cook_length.errors %}
            <div class="error">
                {% for error in meal_form.cook_length.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <br><br>
            {{ meal_form.difficulty.label }}
            {{ meal_form.difficulty }}
	        {% if meal_form.difficulty.errors %}
            <div class="error">
                {% for error in meal_form.difficulty.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <br><br>
            {{ meal_form.description.label }}
            {{ meal_form.description }}
	        {% if meal_form.description.errors %}
            <div class="error">
                {% for error in meal_form.description.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <br><br>
            {{ meal_form.vegan.label }}
            {{ meal_form.vegan }}
            <br><br>
            {{ meal_form.submit_meal }}
        </form>
        <form action="{{url_for('delete_meal', id=id)}}" method="POST">
            <button type="submit">Delete this meal</button>
        </form>
    </div>

{% endblock %}
